body {
	font-family: Montserrat;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1440px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
}

form {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	width: 270px;
	padding: 8px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 1px solid #808080;
}

button {
	padding: 8px 16px;
	border-radius: 8px;
	background: #4e75ff;
	color: #fff;
	border: none;
	cursor: pointer;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.img {
	width: 100%;
	height: 200px;
	transform: scale(1);
	transition: transform 0.3s ease;
}
.img:hover,
.img:focus {
	transform: scale(1.2);
	transition: transform 0.3s ease;
}

.image-stats {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.stat-item {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}

.stat-label {
	font-weight: bold;
}
.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loader {
	position: relative;
	width: 108px;
	display: flex;
	justify-content: space-between;
}
.loader::after,
.loader::before {
	content: "";
	display: inline-block;
	width: 48px;
	height: 48px;
	background-color: #fff;
	background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
	background-repeat: no-repeat;
	border-radius: 50%;
	animation: eyeMove 10s infinite, blink 10s infinite;
}
@keyframes eyeMove {
	0%,
	10% {
		background-position: 0px 0px;
	}
	13%,
	40% {
		background-position: -15px 0px;
	}
	43%,
	70% {
		background-position: 15px 0px;
	}
	73%,
	90% {
		background-position: 0px 15px;
	}
	93%,
	100% {
		background-position: 0px 0px;
	}
}
@keyframes blink {
	0%,
	10%,
	12%,
	20%,
	22%,
	40%,
	42%,
	60%,
	62%,
	70%,
	72%,
	90%,
	92%,
	98%,
	100% {
		height: 48px;
	}
	11%,
	21%,
	41%,
	61%,
	71%,
	91%,
	99% {
		height: 18px;
	}
}
